# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Data files (do not upload datasets)
# =========================
# Ignore only Sports dataset
data/Amazon/*/Sports*
data/Amazon18/
data/Amazon14/
data/Amazon/index/.cache/
data/Amazon/train/.cache/
data/Amazon/valid/.cache/
temp/
data/Amazon14_Processed/
raw_data/

# =========================
# Output / experiment results
# =========================
output/
logs/

# =========================
# Model checkpoints
# =========================
*.pt
*.pth
*.ckpt
*.bin
*.safetensors

# =========================
# WandB
# =========================
wandb/

# =========================
# Environment files
# =========================
.env
.venv/
venv/
conda-meta/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/
